run = "cd frontend && npm run dev"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]
entrypoint = "frontend/index.html"

[nix]
channel = "stable-24_05"
packages = ["micro"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8080
exposeLocalhost = true
